<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Remove the public folder from the URL
    RewriteBase /PHP-MVP/backend/public/
    
    # If the requested file or directory does not exist, rewrite to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
